@import "reset";
/*---------------------------------------------------------------------
variable
---------------------------------------------------------------------*/
$font-color : #000000;
$breakpoint-mobile: 510px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin hover_animation() {
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

/*---------------------------------------------------------------------
keyframes
---------------------------------------------------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------------------
main
---------------------------------------------------------------------*/
html,
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  word-break: break-word;
  line-height: 1.6;
  background-color: #272422;
}

.linkColor {
  color: #0FA07F;
}

/*---------------------------------------------------------------------
sidebar
---------------------------------------------------------------------*/
.sidebar {
  >* {
    min-height: 0% !important; //IE flex-flow: column nowrap 対策
  }

  @include max-screen($breakpoint-mobile) {
    display: none;
  }

  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  background: #212121;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .navList {
    padding: 25px;
    font-size: 12px;

    >li {
      +li {
        margin-top: 30px;
      }

      >a {
        vertical-align: middle;
        transition: 0.1s;
        color: rgba(255, 255, 255, 1);

        &:hover {
          color: rgba(255, 255, 255, 0.9);
        }

        &:before {
          content: "\f4d8";
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
          display: inline-block;
          margin-right: 16px;
          font-size: 13px;
          vertical-align: middle;
          color: #106329;
          transition: 0.1s;
        }

        &:hover:before {
          transform: translateY(2px);
        }
      }
    }
  }

  .outboundLinkList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 15px 0;

    >li {
      +li {
        margin-left: 25px;
      }

      background-color: #999999;
      color: #333333;
      border-radius: 50%;
      opacity: 1;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }

      >a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 20px;
      }

      &.githubLink {
        // 例外
        background: transparent;
        color: #999999;

        >a {
          font-size: 30px;
        }
      }
    }
  }
}

/*---------------------------------------------------------------------
mainContents
---------------------------------------------------------------------*/
main {
  padding: 120px 40px 40px;
  background-color: #272422;
  color: #CCCCCC;

  @include max-screen($breakpoint-mobile) {
    padding: 40px 20px;
  }
}

.mainContents {
  >* {
    min-height: 0% !important; //IE flex-flow: column nowrap 対策
  }

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    margin-left: 0;
  }

  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 200px);
  min-height: 100vh;
  margin-left: 200px;
}

.section+.section {
  margin-top: 120px;
}

@include max-screen($breakpoint-mobile) {
  .section+.section {
    margin-top: 40px;
  }
}

.sectionTitle {
  position: relative;
  padding: 24px 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;

  >span {
    background: #272422;
    padding: 0 15px;
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    display: block;
    width: 25%;
    height: 2px;
    background: #4E4C4C;
    z-index: 1;
  }

  @include max-screen($breakpoint-mobile) {
    &:before {
      width: 100%;
    }
  }
}

.sectionContents {
  padding: 32px 0;
}

.subSection+.subSection {
  margin-top: 32px;
}

.subSectionTitle {
  text-align: center;
  width: 120px;
  margin: auto;
  padding: 12px 0;
  border-bottom: solid 1px #4E4C4C;
}

.subsectionContents {
  padding: 32px 0;
}

/*---------------------------------------------------------------------
top
---------------------------------------------------------------------*/
.top {
  display: flex;
  flex-flow: column nowrap;
  height: 40vh;
  background-image: url('../img/kv.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h1 {
  @include max-screen($breakpoint-mobile) {
    padding: 25px 30px;
    font-size: 30px;
    line-height: 30px;
  }

  padding: 30px 45px;
  font-weight: bold;
  color: #FFFFFF;

  .myTitle,
  .jpName {
    color: #ccc;
    font-size: 16px;
    border-bottom: solid 1px;
    display: inline-block;
    line-height: 1;
  }

  .enName {
    font-size: 32px;

    @include max-screen($breakpoint-mobile) {
      padding: 12px 0 0;
    }
  }
}

/*---------------------------------------------------------------------
modal
---------------------------------------------------------------------*/
.modalWrap {
  display: none;
}

// back
.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.8;
  z-index: 1;
}

.modalHeader {
  width: 100%;
  height: 50px;
  background-color: #333333;
  text-align: center;
}

@include max-screen($breakpoint-mobile) {
  .modalHeader {
    background-color: transparent;
  }
}

.modalPageNum {
  line-height: 50px;
  letter-spacing: 5px;
}

// trigger
.modalClose,
.modalNext,
.modalPrev {
  position: absolute;
  z-index: 1;
}

.modalClose {
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  @include hover_animation();

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #CCCCCC;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(135deg);
  }
}

.modalNext,
.modalPrev {
  width: 50px;
  height: 150px;
  @include hover_animation();

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: #666;
    height: 2px;
    width: 50px;
  }
}

.modalNext {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  &:before,
  &:after {
    right: 0;
  }

  &:before {
    transform: rotate(60deg);
    top: 35%;
  }

  &:after {
    transform: rotate(120deg);
    bottom: 35%;
  }

  &:hover {
    transform: translateX(3px);
  }
}

.modalPrev {
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  &:before,
  &:after {
    left: 0;
  }

  &:before {
    transform: rotate(-60deg);
    top: 35%;
  }

  &:after {
    transform: rotate(-120deg);
    bottom: 35%;
  }

  &:hover {
    transform: translateX(-3px);
  }
}

// modal contents
.modalContents {
  width: calc(100% - 100px);
  height: calc(100vh - 100px);
  max-width: 1040px;
  max-height: 800px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  background: #FFFFFF;
}

.modalMainContents {
  height: calc(100% - 50px);
  padding: 50px;

  .modalImage,
  .modalInfo {
    width: 100%;
  }

  .modalImage {
    height: calc(100% - 200px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .modalInfo {
    max-height: 160px;
    overflow: scroll;
    margin-top: 48px;
    padding: 0 16px;
    color: #333333;

    .modalInfoList {
      .modalTitle {
        font-size: 18px;
      }

      .modalLink {
        font-size: 12px;
        @include hover_animation();
      }

      .modalDate {
        margin-top: 16px;
        font-size: 12px;
        color: #999;
        border-bottom: solid 1px #ccc;
        display: inline-block;
      }

      .modalDescription {
        margin-top: 16px;
      }
    }
  }
}

@include max-screen($breakpoint-mobile) {
  .modalContents {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .modalImage {
      height: calc(100% - 50px);
    }
  }

  .modalMainContents {
    position: relative;
    padding: 0;

    .modalInfo {
      position: absolute;
      bottom: 32px;
      max-height: 100px;
      margin-top: 0;
      background-color: transparent;
      color: #CCCCCC;

      .modalInfoList {
        .modalTitle {
          font-size: 14px;
        }

        .modalDate {
          font-size: 12px;
          margin-top: 12px;
        }

        .modalDescription {
          font-size: 12px;
        }
      }
    }
  }

  .modalClose {

    &:before,
    &:after {
      background-color: #CCCCCC;
    }
  }

  .modalNext,
  .modalPrev {
    display: none;
  }
}

/*---------------------------------------------------------------------
about
---------------------------------------------------------------------*/
.aboutList {
  font-size: 12px;

  >li {
    img {
      width: 24px;
      vertical-align: top;
      border-radius: 50%;
    }

    +li {
      margin-top: 36px;
    }

    dl {
      display: flex;

      dt {
        min-width: 80px;
      }
    }
  }
}

.aboutSiteList {
  >li {
    a {
      transition: 0.3s;

      &:hover {
        opacity: 0.3;
      }
    }

    +li {
      margin-top: 6px;
    }
  }
}

/*---------------------------------------------------------------------
skill
---------------------------------------------------------------------*/
.skill {
  .skillSeat {
    width: 100%;
    font-size: 12px;
  }

  table,
  td,
  th {
    // border: 1px solid #CCCCCC;
    border-collapse: collapse;
    // color: #333333;
  }

  td,
  th {
    width: 30px;
    height: 25px;
    vertical-align: top;
  }

  td.category,
  td.period,
  td.level {
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #4E4C4C;
  }

  @include max-screen($breakpoint-mobile) {

    td.category,
    td.period,
    td.level {
      font-size: 12px;
    }
  }

  td.category {
    width: 40%;
  }

  td.period {
    width: 10%;
  }

  td.level {
    width: 50%;
  }

  @include max-screen($breakpoint-mobile) {
    td.category {
      width: 40%;
    }

    td.period {
      width: 20%;
    }

    td.level {
      width: 40%;
    }
  }

  td.categoryTitle {
    font-weight: bold;
  }

  tbody {
    tr {
      border-bottom: solid 1px #4E4C4C;

      td {
        padding: 12px 3px;
      }
    }
  }

  th {
    background: #f0e6cc;
  }
}

.skillList {
  >li {
    +li {
      margin-top: 32px;
    }
  }
}

/*---------------------------------------------------------------------
work
---------------------------------------------------------------------*/
.modalItemList {
  @include max-screen($breakpoint-mobile) {
    margin-left: 0;
  }

  font-size: 0;
  margin-left: -30px;

  >li {
    @include max-screen($breakpoint-mobile) {
      width: 100%;
      margin-left: 0;

      +li {
        margin-top: 60px;
      }

      &:nth-child(4n) {
        margin-top: 0;
      }
    }

    &:hover {
      .workThumb {
        transform: scale(1.05);
      }
    }

    &:nth-child(4n) {
      margin-top: 30px;
    }

    overflow: hidden;
    margin-left: 60px;
    display: inline-block;
    width: calc((100% - 60px * 3) / 3);
    background-color: #4E4C4C;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    vertical-align: top;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;

    .workThumb {
      // position: relative;
      // height: 130px;
      // overflow: hidden;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      transition: 0.4s;

      >img {
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        // margin: auto;
        width: 100%;
        height: auto;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
      }
    }

    .workTextWrap {
      padding: 18px 12px;
      text-align: center;
      background-color: #222222;

      .workTitle {
        font-size: 16px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      .workTextWrap {
        .workTitle {
          font-size: 16px;
        }
      }
    }
  }
}

.assetsInfoList {
  display: none;
}

/*---------------------------------------------------------------------
slides
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
footer
---------------------------------------------------------------------*/
footer {
  margin-top: auto;
  padding: 35px 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #212121;
}