<section id="about" class="about section">
  <h2 class="sectionTitle"><span>ABOUT</span></h2>
  <div class="sectionContents">
    <ul class="aboutList">
      <li>
        <dl>
          <dt>名前: </dt>
          <dd>佐々木 耀（ささき ひかる）<img src="./img/icon.jpg" alt="アイコン画像"></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>生年: </dt>
          <dd>1994年</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>キャリア: </dt>
          <dd>フロントエンドエンジニア歴 2年</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>職務経験: </dt>
          <dd>大学は東京工科大学にて情報科専攻。<br>
            卒業研究では、深層学習を用いたマーケティング情報取得支援の研究に取り組む。<br>
            卒業後は、株式会社例ハウオリに入社。<br>
            約1年間、本社で受託案件に務める。電話やミーティングで顧客折衝を経験。<br>
            ランディングページ制作から企業の社内ツールのフロントエンド部分の制作に携わる。<br>
            その後、パートナー会社にて、大手飲食サイト・サービスの1つの保守運用プロダクトチームに配属。<br>
            膨大で複雑な仕様の把握や、保守性・拡張性に注力した開発方法を実務経験を経て身に着ける。</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>関連ページ: </dt>
          <dd>
            <ul class="aboutSiteList">
              <li>
                <a href="https://github.com/c011322371" class="linkColor">github</a>
              </li>
              <li>
                <a href="https://qiita.com/h_sasaki_223" class="linkColor">Qiita</a>
              </li>
              <li>
                <a href="https://codepen.io/hikarus/" class="linkColor">codepen</a>
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</section>