<section id="about" class="about section">
  <h2 class="sectionTitle"><span>ABOUT</span></h2>
  <div class="sectionContents">
    <ul class="aboutList">
      <li>
        <dl>
          <dt>名前: </dt>
          <dd>佐々木 耀（ささき ひかる）<img src="./img/icon.jpg" alt="アイコン画像"></dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>生年: </dt>
          <dd>1994年 11月 1日</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>キャリア: </dt>
          <dd>フロントエンドエンジニア歴 2年</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>経歴: </dt>
          <dd>
            ＜学歴＞<br>
            2017年3月東京工科大学コンピュータサイエンス学部卒業。<br>
            java、C言語など様々な言語のプログラミングの基礎から応用までを修得。<br>
            卒業研究では、深層学習を用いたマーケティング情報取得支援の研究に取り組む。<br>
            <br>＜職歴＞<br>
            2017年4月株式会社レイハウオリに入社。<br>
            約半年間、社内ツールやランディングページの受託案件を担当。電話や対面での顧客折衝を経験。<br>
            その後、パートナーとしてお客様先へ常駐。<br>
            飲食店向けの業務サポートサービス(自店舗サイト作成ツール)の保守を担当。<br>
          </dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>関連ページ: </dt>
          <dd>
            <ul class="aboutSiteList">
              <li>
                <a href="https://github.com/kamabokochan" class="linkColor">github</a>
              </li>
              <li>
                <a href="https://qiita.com/kamabokochan" class="linkColor">Qiita</a>
              </li>
              <li>
                <a href="https://codesandbox.io/u/kamabokochan" class="linkColor">codesandbox</a>
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</section>