<div class="modalWrap jscModal">
  <div class="modalBack jscModalClose"></div>
  <div class="modalContents">
    <div class="modalHeader">
      <div class="modalPageNum"><span class="jscCurrentNum">1</span>/<span class="jscItemLength">1</span></div>
      <div class="modalClose jscModalClose"></div>
    </div>
    <div class="modalTrigger">
      <div class="modalNext jscModalNext"></div>
      <div class="modalPrev jscModalPrev"></div>
    </div>
    <div class="modalMainContents jscModalMainContents">
      <section class="modalImage jscModalImage"></section>
      <section class="modalInfo">
        <ul class="modalInfoList">
          <li class="modalTitle jscModalTitle"></li>
          <li class="modalDate jscModalDate"></li>
          <li class="modalDescription jscModalDescription"></li>
        </ul>
      </section>
    </div>
  </div>
</div>