<div class="modalWrap jscModal">
  <div class="modalBack jscModalClose"></div>
  <div class="modalContents">
    <div class="modalTrigger">
      <div class="modalClose jscModalClose"></div>
      <div class="modalNext jscModalNext"></div>
      <div class="modalPrev jscModalPrev"></div>
    </div>
    <div class="modalMainContents">
      <section class="modalImage jscModalImage"></section>
      <section class="modalInfo">
      <ul class="modalInfoList">
        <li class="jscModalTitle"></li>
        <li class="jscModalDate"></li>
        <li class="jscModalDescription"></li>
      </ul>
      </section>
    </div>
  </div>
</div>