<ul class="outboundLinkList">
  <li class="githubLink">
    <a href="https://github.com/c011322371"><i class="fab fa-github"></i></a>
  </li>
  <li class="qiitaLink">
    <a href="https://qiita.com/h_sasaki_223">Q</a>
  </li>
  <li class="codepenLink">
    <a href="https://codepen.io/hikarus/"><i class="fab fa-codepen"></i></a>
  </li>
</ul>