<div id="top" class="top">
  <h1>
    <p class="myTitle">Front End Engineer</p>
    <p class="enName">Hikaru Sasaki</p>
    <p class="jpName">佐々木 耀</p>
  </h1>
  <div class="moreBtn">
    <a href="javascript:void(0)" class="jscMoreBtn">Tell Me More</a>
  </div>
</div>