<section id="work" class="work section">
  <h2 class="sectionTitle"><span>WORK</span></h2>
  <div class="sectionContents">
    <div ass="workItemList">
      <%- include('./work/lifework', {dataType: data.work}) %>
      <%- include('./work/slide', {dataType: data.slide}) %>
    </div>
  </div>
</section>