<section class="lifework subSection">
  <h3 class="subSectionTitle"><span>LIFE WORK</span></h3>
  <div class="subsectionContents">
    <ul class="lifeworkList">
      <% dataType.lifework.forEach(function(item) { %>
      <li class="jscModalItem">
        <div class="workThumb" data-modal="image">
          <img src="<%- item.img %>" alt="">
        </div>
        <div class="workTextWrap">
          <h3 class="workTitle" data-modal="title">
            <%- item.title %>
          </h3>
          <p class="workDate" data-modal="date">
          制作時期： <%- item.date %>
          </p>
          <p class="workText" data-modal="description">
            <%- item.description %>
          </p>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</section>